ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: pink;

}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14em 16em;
  text-decoration: none;
  size:33%;
}

li a:hover:not(.active) {
  background-color: #111;
  color:pink;
}
body{
  background-color: black;
  color: pink;
}
#title{
    text-align: center;
    
  }