<!-- Put the HTML template for your page here! -->
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="fasion.css">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='fashion.css')}}">
	<title></title>
</head>
<body>
<div class="navbar">
<ul>
  <li><a href="#fasion.html">Home</a></li>
  <li><a href="#Outfits">Outfits</a></li>
  <li><a href="#shoes">shoes</a></li>
  <li><a href="accessories.html">Accessories</a></li>
</ul>


</div>	
<h1 id="title">My Stylish Website :)</h1>

</body>
</html>
